{% load static %}
    <!-- ======= Previous Generated Section ======= -->
    <section id="pre-generated-section" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>View Previous Generated Models</h2>
          <p>Lookup previous generated images representing points in 3D space.</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'test_outputs/tester_0.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Model 1</h4>
                <p>Model 1</p>
                <div class="portfolio-links">
                  <a href="{% static 'test_outputs/tester_0.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'test_outputs/tester_1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Model 2</h4>
                <p>Model 2</p>
                <div class="portfolio-links">
                  <a href="{% static 'test_outputs/tester_1.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'test_outputs/tester_2.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Model 3</h4>
                <p>Model 3</p>
                <div class="portfolio-links">
                  <a href="{% static 'test_outputs/tester_2.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'test_outputs/tester_3.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Model 4</h4>
                <p>Model 4</p>
                <div class="portfolio-links">
                  <a href="{% static 'test_outputs/tester_3.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'test_outputs/tester_4.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Model 5</h4>
                <p>Model 5</p>
                <div class="portfolio-links">
                  <a href="{% static 'test_outputs/tester_4.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'test_outputs/tester_5.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Model 6</h4>
                <p>Model 6</p>
                <div class="portfolio-links">
                  <a href="{% static 'test_outputs/tester_5.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- Previous Generated Section -->